# Lines starting with `#` are comments.


# Ignoring directories
# Both the directory itself and its contents will be ignored.
bin/
obj/
StringSearch/.vs
StringSearch/StringSearch/x64/
StringSearch/x64/
.vscode


# Ignoring files by extension
# All files with these extensions will be ignored in
# this directory and all its sub-directories.
*.vcxproj.user
*.vcxproj.filters
*.vcxproj
*.pdf
*.sln

# To ignore a set of files, wildcards can be used, as can be seen above.
# A sole '*' will ignore everything in your folder, including your .gitignore file.
# To exclude specific files when using wildcards, negate them.
# So they are excluded from the ignore list:
!.gitignore 

# Use the backslash as escape character to ignore files with a hash (#)
# (supported since 1.6.2.1)
\#*#